{% include 'breadcrumb', title: "Search" %}

<section class="section">
  <div class="container">
    <div class"row">
      <div class="col-12 text-center mb-5">
        <h2>
          {% if search.performed %}
          {% if search.results_count == 0 %}
          {{ 'general.search.no_results_html' | t: terms: search.terms }}
          {% else %}
          {{ 'general.search.results_for_html' | t: terms: search.terms }}
          {% endif %}
          {% else %}
          {{ 'general.search.title' | t }}
          {% endif %}
        </h2>
      </div>
    </div>
    <div class="row">
      {% paginate search.results by 10 %}
      {% if search.performed %}
      {% for item in search.results %}
      <div class="col-md-4 col-sm-4">
        {% assign featured_image = item.image | default: item.featured_image %}
        {% if featured_image != blank %}
        <a class="mb-4 d-block" href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
          {{ featured_image | img_url: '1920x' | img_tag: featured_image.alt }}
        </a>
        {% endif %}

        <h4 class="text-dark">{{ item.title | link_to: item.url }}</h4>

        {% if item.object_type == 'product' %}
        <p>
          {% if item.compare_at_price > item.price %}
          {% if item.price_varies %}
          {% assign sale_price = item.price | money %}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
          {{ 'products.product.on_sale' | t }}
          <span itemprop="price">{{ item.price | money }}</span>
          {% endif %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <s>{{ item.compare_at_price | money }}</s>
          {% else %}
          {% if item.price_varies %}
          {% assign price = item.price | money %}
          <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
          {% else %}
          <span itemprop="price">{{ item.price | money }}</span>
          {% endif %}
          {% endif %}
          {% unless item.available %}
          {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
        {% else %}
        <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
        {% endif %}
      </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
      {% include 'pagination' %}
      {% endif %}
      {% endif %}
      {% endpaginate %}
    </div>
  </div>
</section>